.card-footer-wrapper{
  background: var(--project-card-background-alpha-color);
}

.project-title{
  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  font-weight: var(--mobile-project-title-font-weight);
  font-size: var(--mobile-project-title-font-size);
  line-height: 32px;
  color: var(--main-font-color);

}

.project-description{
  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  font-weight: var(--mobile-project-description-font-weight);
  font-size: var(--mobile-project-description-font-size);
  line-height: 24px;
  color: var(--main-font-color);

  opacity: 0.8;
}

.likes-and-comments {
  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  font-weight: var(--mobile-project-likes-comments-font-weight);
  font-size: var(--mobile-project-likes-comments-font-size);
  line-height: 24px;
  color: var(--main-font-color);
}
