<div>
  <div class="list-container container-fluid m-0 p-0">
    <ul class="m-0 p-0">
      <li #editorListElement [routerLink]="['editor/0']"
          (click)="handleRouteCheck()" routerLinkActive="active-route"
          [ngClass]="{'active-route': styleTrigger}">
        <span class="d-inline-block w-100 my-2">
          <span class="icon-container"><i class="fas fa-code"></i></span>
          <span class="option-description text-white ps-2"> Editor de Código</span>
        </span>
      </li>
      <li [routerLink]="['comunidade']" routerLinkActive="active-route">
        <span class="d-inline-block w-100 my-2">
          <span class="icon-container"><i class="fas fa-users"></i></span>
          <span class="option-description text-white ps-2"> Comunidade</span>
        </span>
      </li>
    </ul>
  </div>

  <div *ngIf="isPortraitDevice" class="my-3 ps-4">
    <div class="hori-rule my-3 bg-white"></div>
    <div class="pt-3">
      <app-user-profile></app-user-profile>
    </div>
  </div>
</div>
