<div>
  <div class="list-container">
    <ul>
      <li [routerLink]="['editor']">
        <span>
          <span class="icon-container"><i class="fas fa-code"></i></span>
          <span class="option-description"> Editor de Código</span>
        </span>
      </li>
      <li [routerLink]="['comunidade']">
        <span>
          <span class="icon-container"><i class="fas fa-users"></i></span>
          <span class="option-description"> Comunidade</span>
        </span>
      </li>
    </ul>
  </div>

  <div *ngIf="isPortraitDevice">
    <hr>
    <div>
      <app-user-profile></app-user-profile>
    </div>
  </div>
</div>
