<div class="editor-container">
  <div class="row container-fluid mx-0 px-0">

    <div class="highlight-col col-12 col-lg-8 yellow-border d-flex flex-column justify-content-start align-items-center">
      <div class="hightligh-code-area-container black-border col-12 bg-primary d-flex flex-row justify-content-center align-items-center rounded">
        <textarea class="m-4 col-10 rounded" name="" id="" rows="10"></textarea>
      </div>


      <div class="highlight-button-container red-border col-12 d-flex flex-row justify-content-center align-items-center">
        <button class="btn btn-primary btn-block col-12">Visualizar com o Highlight</button>
      </div>
    </div>

    <div class="project-col col-12 col-lg-4 green-border">

      <div class="section-container col-12">
        <div class="section-title">SEU PROJETO</div>
        <div class="form-item-container col-12">
          <input class="col-12" type="text" placeholder="Nome do seu projeto">
        </div>
        <div class="form-item-container col-12">
          <textarea class="col-12" placeholder="Descrição do seu projeto"></textarea>
        </div>
      </div>

      <div class="section-container">
        <div class="section-title">PERSONALIZAÇÃO</div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="form-item-container w-100">
              <select class="w-100" name="" id="">
                <option value="">Javascript</option>
                <option value="">Python</option>
              </select>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-12">
            <div class="color-picker-container w-100">
              <input class="w-100" type="color" name="" id="">
            </div>
          </div>
        </div>
      </div>

      <div class="save-button-container col-12">
        <button class="col-12">Salvar projeto</button>
      </div>

    </div>
  </div>
</div>
