.w-h-100 {
  width: 100%;
  height: 100%;
}

.highlight-col {
  padding-left: 20px;
  padding-right: 20px;
}

.project-col {
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  font-weight: 400;
  font-size: var(--first-font-size-mobile);
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.form-item-container {
  font-family: var(--inter-font-family-mobile);
  font-size: var(--second-font-size-mobile);
}

.form-item-container>input[type=text] {
  background-color: var(--input-bg-color);

  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  line-height: 24px;

}

.form-item-container>input[type=text]::placeholder {
  color: var(--input-placeholder-color);
  opacity: 0.64;
}

.form-item-container>textarea {
  background-color: var(--input-bg-color);
  font-style: normal;
  line-height: 24px;
}

.form-item-container>textarea::placeholder {
  color: var(--input-placeholder-color);
  opacity: 0.64;
}

.form-item-container>select {
  background-color: var(--input-bg-color);
  color: var(--input-placeholder-color);
  font-style: normal;
  line-height: 24px;
}

.color-picker-container {
  height: 50px;
}

.fake-color-picker {
  display: block;
  width: 96%;
  height: 35px;
  outline: white 1px solid;
  outline-offset: 5px;
}

.form-item-padding {
  padding: 10px 5px 10px 5px;
}

.save-button-container>button {
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  font-family: var(--inter-font-family-mobile);
  font-size: var(--second-font-size-mobile);
}

.highlight-button-container>button {
  background-color: var(--secondary-button-bg-color);
  color: var(--secondary-button-text-color);
  font-family: var(--inter-font-family-mobile);
  font-size: var(--second-font-size-mobile);
}

.secondary-text-opacity {
  opacity: 0.8;
}
