<div class="inner-container rounded-3"
    [style]="{'background-color': color}">
    <div>
      <div class="three-dot-header d-flex flex-row justify-content-center align-items-center">
        <span></span>
        <span class="middle-ball-header"></span>
        <span></span>
      </div>
      <div>
        <pre>
          <code #myElement class="rounded hljs javascript" name="" id="" rows="10" contenteditable="true">
            {{ pressionado ? mockedText : "" }}
          </code>
        </pre>
      </div>
      <div>
        <button (click)="triggerTest(myElement)">me clicka</button>
      </div>
    </div>
</div>
