.inner-container {
  padding: 20px !important;
  padding-bottom: 16px !important;
}

.code-wrapper {
  white-space: pre-wrap;
  padding: 10px;
}

.code-wrapper>code {
  padding-top: 1px;
}

.code-wrapper>code:focus-visible {
  outline: none;
}

.mw-min-height {
  min-height: 200px
}

.modo-visualizacao-fix {
  max-height: 200px;
  overflow-y: clip;
}

.highlight-button-container>button {
  background-color: var(--secondary-button-bg-color);
  color: var(--secondary-button-text-color);
  font-family: var(--inter-font-family-mobile);
  font-size: var(--second-font-size-mobile);
}
