<app-toast aria-live="polite" aria-atomic="true"></app-toast>
<div class="page-width-responsive container-fluid px-0">
  <div class="header w-100 d-flex flex-row justify-content-between align-items-center py-2">
      <div class="logo-wrapper col-lg-3">
        <img class="img-fluid ms-md-4" src="assets\images\alura-logo-mobile.svg" alt="" routerLink="">
      </div>
      <div class="search-bar-md-wrapper d-none d-md-block col-lg-6">
        <app-search-bar></app-search-bar>
      </div>
      <div class="search-bar-toggler-wrapper d-md-none container d-flex flex-row justify-content-end">
        <i class="fas fa-search" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"></i>
      </div>
      <div class="d-lg-none">
        <div class="dropdown me-2">
          <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuMobile" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-navicon"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuMobile">
            <app-menu-list [isPortraitDevice]="true"></app-menu-list>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block me-lg-4">
        <app-user-profile></app-user-profile>
      </div>
  </div>

  <div class="offcanvas offcanvas-top" data-bs-scroll="true" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-body d-flex flex-row justify-content-between align-items-center">
      <div>
        <app-search-bar></app-search-bar>
      </div>
      <div>
        <button type="button" class="btn text-white" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="body-container container-fluid d-flex w-100 px-0 pt-4">
    <div class="menu d-none d-lg-flex flex-md-column col-md-3">
      <div class="menu-desk-header ms-md-4 mt-3">MENU</div>
      <app-menu-list></app-menu-list>
    </div>
    <div class="outlet-container col-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
