.header {
  border: 1px solid black;
}

.page-width-responsive {
  color: var(--main-font-color)
}

.dropdown-toggle::after {
  display: none;
}

.search-bar-toggle {
  transition: all 0.3s;
}

.search-bar-toggler-wrapper {
  width: 110px;
}

.offcanvas {
  background-color: var(--main-bg-color);
  height: 40px;
}

@media (max-width: 320px) {
  .dropdown-menu {
    width: 220px;
  }

  .logo-wrapper {
    margin-left: 10px
  }
}

.dropdown-menu {
  background-color: var(--menu-mobile-tablet-background);
  margin-right: 10px !important;
  height: 90vh;
}

@media (min-width: 321px) and (max-width: 768px)  {
  .search-bar-md-wrapper {
    width: 70%
  }

  .dropdown-menu {
    width: 260px;
  }
}

@media (min-width: 1024px)  {
  .search-bar-md-wrapper {
    margin-right: 180px;
  }
}

.form-item-container {
  font-family: var(--inter-font-family-mobile);
  font-size: var(--second-font-size-mobile);
}

.form-item-container>input[type=text] {
  background-color: var(--input-bg-color);

  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  line-height: 24px;

}

.menu-desk-header {
  font-family: var(--inter-font-family-mobile);
  font-style: normal;
  font-weight: 400;
  font-size: var(--first-font-size-mobile);
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}


