.header {
  border: 1px solid black;
  /* font-size: var(--variavel-teste); */
  /* background-color: var(--main-bg-color); */
}

.body-container {
}

.menu {
  /* border: 1px solid green; */
}

.outlet-container {
}

.page-width-responsive {
  color: var(--main-font-color)
}

.black-border {
  /* border: 1px solid black; */
}

.dropdown-toggle::after {
  display: none;
}

.search-bar-toggle {
  transition: all 0.3s;
}

.search-bar-wrapper {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.search-bar-wrapper-opens {
  display: none;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.offcanvas {
  background-color: var(--main-bg-color);
  height: 40px;
}

@media screen and (max-width: 320px) {
  .dropdown-menu {
    width: 220px;
  }

  .logo-wrapper {
    margin-left: 10px
  }
}

.dropdown-menu {
  background-color: var(--menu-mobile-tablet-background);
  margin-right: 10px !important;
}
