<div class="page-width-responsive container-fluid px-0">
  <div class="header w-100 d-flex flex-row justify-content-between">
      <div class="">
        <img class="img-fluid" src="assets\images\alura-logo-mobile.svg" alt="">
      </div>
      <div class="d-none d-md-block">
        <app-search-bar></app-search-bar>
      </div>
      <div class="d-md-none">
        <!-- aqui toggla a searchbar -->
        <i class="fas fa-search" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"></i>
        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button> -->
      </div>
      <div class="d-lg-none">
        <!-- dropdown button entra aqui -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- icone pro dropdown -->
            <i class="fa fa-navicon"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <app-menu-list [isPortraitDevice]="true"></app-menu-list>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <app-user-profile></app-user-profile>
      </div>
  </div>

  <div class="offcanvas offcanvas-top" data-bs-scroll="true" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-body d-flex flex-row justify-content-between align-items-center">
      <div>
        <app-search-bar></app-search-bar>
      </div>
      <div>
        <button type="button" class="btn text-white" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="body-container container-fluid d-flex w-100 px-0">
    <div class="menu d-none d-lg-flex flex-md-row col-md-3">
      <app-menu-list></app-menu-list>
    </div>
    <div class="outlet-container col-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
