/*!
  Theme: Dracula
  Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
.dracula div code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
.dracula code.hljs {
  padding: 3px 5px;
}
.dracula .hljs, .dracula.hljs {
  color: #e9e9f4;
  background: #282936;
}
.dracula .hljs ::selection,
.dracula .hljs::selection {
  background-color: #4d4f68;
  color: #e9e9f4;
}
.dracula .hljs-comment {
  color: #626483;
}
.dracula .hljs-tag {
  color: #62d6e8;
}
.dracula .hljs-operator,
.dracula .hljs-punctuation,
.dracula .hljs-subst {
  color: #e9e9f4;
}
.dracula .hljs-operator {
  opacity: 0.7;
}
.dracula .hljs-bullet,
.dracula .hljs-deletion,
.dracula .hljs-name,
.dracula .hljs-selector-tag,
.dracula .hljs-template-variable,
.dracula .hljs-variable {
  color: #ea51b2;
}
.dracula .hljs-attr,
.dracula .hljs-link,
.dracula .hljs-literal,
.dracula .hljs-number,
.dracula .hljs-symbol,
.dracula .hljs-variable.constant_ {
  color: #b45bcf;
}
.dracula .hljs-class .hljs-title,
.dracula .hljs-title,
.dracula .hljs-title.class_ {
  color: #00f769;
}
.dracula .hljs-strong {
  font-weight: 700;
  color: #00f769;
}
.dracula .hljs-addition,
.dracula .hljs-code,
.dracula .hljs-string,
.dracula .hljs-title.class_.inherited__ {
  color: #ebff87;
}
.dracula .hljs-built_in,
.dracula .hljs-doctag,
.dracula .hljs-keyword.hljs-atrule,
.dracula .hljs-quote,
.dracula .hljs-regexp {
  color: #a1efe4;
}
.dracula .hljs-attribute,
.dracula .hljs-function .hljs-title,
.dracula .hljs-section,
.dracula .hljs-title.function_,
.dracula .ruby .hljs-property {
  color: #62d6e8;
}
.dracula .diff .hljs-meta,
.dracula .hljs-keyword,
.dracula .hljs-template-tag,
.dracula .hljs-type {
  color: #b45bcf;
}
.dracula .hljs-emphasis {
  color: #b45bcf;
  font-style: italic;
}
.dracula .hljs-meta,
.dracula .hljs-meta .hljs-keyword,
.dracula .hljs-meta .hljs-string {
  color: #00f769;
}
.dracula .hljs-meta .hljs-keyword,
.dracula .hljs-meta-keyword {
  font-weight: 700;
}
