/* You can add global styles to this file, and also import other style files */

:root {
  --main-bg-color: #051D3B;
  --main-font-color: #fff;
  --main-font-size-mobile: 16px;
}

body {
  background-color: var(--main-bg-color) !important;
  font-size: var(--main-font-size-mobile) !important;
}

.black-border {
  border: 1px solid black;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.blue-border {
  border: 1px solid blue;
}

.yellow-border {
  border: 1px solid yellow;
}

.fuchsia-border {
  border: 1px solid fuchsia;
}
